src/assets/*
.storybook
dist
yarn.lock
.gitignore
.prettierignore
.gitattributes
coverage
storybook-static
.tsBuildInfoFile
vite.config.ts
vitest.setup.mts
vitest.config.mts
prettier.config.js
tailwind.config.ts
postcss.config.js
