@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  gap: T.$spacing-macro;
  padding: 0;
  align-items: center;
}

.wrapper_images {
  display: flex;
  flex-wrap: wrap;
  gap: T.$spacing-xxl;
  width: 100%;
  padding: 0 T.$spacing-sm;
  justify-content: center;

  svg {
    width: 87px;
    min-width: 87px;
    height: 77px;

    @include T.breakpoint-min('tablet') {
      width: 174px;
      min-width: 174px;
      height: 155px;
    }
  }
}

.title {
  font-weight: T.$font-weight-regular;
  text-align: center;
}
